#background {
	background: transparent no-repeat 50% 50%;
	background-size: cover;
	background-image: url("http://upload.wikimedia.org/wikipedia/commons/1/15/Red_Apple.jpg");
    position: absolute; 
    left: 0; 
    top: 0; 
    bottom: 0;
    right: 0;
    z-index: 0;
}

#branding {
    bottom: 0px;
    right: 0px;
}

.textPos { 
	float: left;
    z-index: 1;
    position: absolute;
	color: #FFF;
	font-family: Helvetica, Arial, sans-serif;
	font-weight: bold;
	left: 160px;
}

input {
	background: transparent;
	border: none;
	outline: none;
	font-size: 100px;
	line-height: 1.1em;
	color:  #FFF;
}

input::-webkit-input-placeholder {
	color: rgba(255, 255, 255, 0.5);
}

input:-moz-placeholder { 
	color: rgba(255, 255, 255, 0.5);
}

#defn {
	max-width: 400px;
}

#dico_chunk {
    top: 50px;

    max-width: 400px;

    background-color: rgba(0, 0, 0, 0.2);
    padding: 15px;
}

#word {
	text-transform: uppercase;
    max-width: 400px;
}

.colorBoxWrapper {
    display: inline;
    z-index: 2;
    position: absolute;
    top: 10px;
    left: 10px;

    background-color: rgba(0, 0, 0, 0.2);
    padding: 15px;
}

#whiteBox {
    color: white;
}

#blackBox {
    color: black;
}

#colorBox {
    color: rgb(12, 90, 7);
}

.colorBox {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 20px;
    font-weight: bold;
    padding: 2px;
    background-color: transparent;
    float: left;
    width: 22px;
    height: 22px;
    margin-right: 4px;
}
