body {
	background: #5D5D5E;
	text-align: center;
	margin: auto;
}

.welcomeBlock {
	color: #EAEAEB;
	font-weight: bolder;
	font-size: 48px;
	vertical-align: middle;
}

#eng {
	display: inline;
}

#spa {
	display: none;
}

#jap {
	display: none;
}

#ger {
	display: none;
}

#fre {
	display: none;
}

#cat {
	display: none;
}

#kor {
	display: none;
}