@font-face {
  font-family: 'Bar';
  src: url("../fonts/barrio-regular-webfont.eot");
  src: url("../fonts/barrio-regular-webfont.eot?iefix") format("eot"), url("../fonts/barrio-regular-webfont.woff") format("woff"), url("../fonts/barrio-regular-webfont.ttf") format("truetype"), url("../fonts/barrio-regular-webfont.svg#webfont") format("svg"); }
@font-face {
  font-family: 'Amatic';
  src: url("../fonts/amaticsc-bold-webfont.eot");
  src: url("../fonts/amaticsc-bold-webfont.eot?iefix") format("eot"), url("../fonts/amaticsc-bold-webfont.woff") format("woff"), url("../fonts/amaticsc-bold-webfont.ttf") format("truetype"), url("../fonts/amaticsc-bold-webfont.svg#webfont") format("svg"); }
@font-face {
  font-family: 'Open';
  src: url("../fonts/OpenSans-CondLight-webfont.eot");
  src: url("../fonts/OpenSans-CondLight-webfont.eot?iefix") format("eot"), url("../fonts/OpenSans-CondLight-webfont.woff") format("woff"), url("../fonts/OpenSans-CondLight-webfont.ttf") format("truetype"), url("../fonts/OpenSans-CondLight-webfont.svg#webfont") format("svg"); }
.index .point-counter-wrap {
  position: absolute;
  right: 42px;
  font-family: 'Amatic';
  font-size: 18px;
  text-transform: uppercase; }
.index #herm .meepers {
  font-family: 'Bar'; }
.index #perjerkt,
.index #kernterk {
  display: none; }
  .index #perjerkt .meepers,
  .index #kernterk .meepers {
    width: 30%;
    float: left; }
  .index #perjerkt .meepers-desc,
  .index #kernterk .meepers-desc {
    width: 60%;
    float: left; }
.index #kernterk .meepers::before {
  background: url("../img/sideline-p.svg") no-repeat; }
.index #kernterk a {
  color: #B8EA64; }
  .index #kernterk a:hover {
    color: #F1503C; }
.index #perjerkt .meepers::before {
  background: url("../img/sideline-g.svg") no-repeat; }
.index #perjerkt a {
  color: #7CD1E0; }
  .index #perjerkt a:hover {
    color: #DEA6CB; }
.index .container-fluid {
  margin: 42px 80px; }
  .index .container-fluid .meepers {
    font-size: 42px;
    font-family: 'Amatic'; }
    .index .container-fluid .meepers::before {
      content: '';
      background: url("../img/sideline.svg") no-repeat;
      background-size: cover;
      height: 100%;
      max-height: 577px;
      position: absolute;
      width: 14px;
      left: 60px;
      top: 42px; }
  .index .container-fluid .meepers-desc {
    font-family: 'Open'; }
    .index .container-fluid .meepers-desc .perjerkt-desc {
      display: none;
      font-size: 22px; }
    .index .container-fluid .meepers-desc ul {
      list-style-image: url("../img/dot.svg"); }
.index .footer {
  width: 100%; }
  .index .footer ul.nav {
    position: absolute;
    right: 42px;
    bottom: 42px;
    list-style: none; }
    .index .footer ul.nav li {
      display: inline-block;
      font-size: 22px;
      margin-left: 20px;
      font-family: 'Amatic';
      position: relative; }
      .index .footer ul.nav li:nth-child(1) a:hover::after, .index .footer ul.nav li:nth-child(1) a.active::after {
        content: '';
        height: 8px;
        position: absolute;
        width: 33px;
        left: -2px;
        bottom: -5px; }
      .index .footer ul.nav li:nth-child(1) a.active:hover::after, .index .footer ul.nav li:nth-child(1) a:hover::after {
        background: url("../img/underline-1-g.svg") center bottom no-repeat; }
      .index .footer ul.nav li:nth-child(1) a.active::after {
        background: url("../img/underline-1.svg") center bottom no-repeat; }
      .index .footer ul.nav li:nth-child(2) a:hover::after, .index .footer ul.nav li:nth-child(2) a.active::after {
        content: '';
        height: 8px;
        position: absolute;
        width: 50px;
        left: -2px;
        bottom: -5px; }
      .index .footer ul.nav li:nth-child(2) a.active:hover::after, .index .footer ul.nav li:nth-child(2) a:hover::after {
        background: url("../img/underline-2-g.svg") center bottom no-repeat; }
      .index .footer ul.nav li:nth-child(2) a.active::after {
        background: url("../img/underline-2.svg") center bottom no-repeat; }
      .index .footer ul.nav li:nth-child(3) a:hover::after, .index .footer ul.nav li:nth-child(3) a.active::after {
        content: '';
        height: 8px;
        position: absolute;
        width: 49px;
        left: -2px;
        bottom: -5px; }
      .index .footer ul.nav li:nth-child(3) a.active:hover::after, .index .footer ul.nav li:nth-child(3) a:hover::after {
        background: url("../img/underline-3-g.svg") center bottom no-repeat; }
      .index .footer ul.nav li:nth-child(3) a.active::after {
        background: url("../img/underline-3.svg") center bottom no-repeat; }
      .index .footer ul.nav li a {
        text-decoration: none;
        color: #000; }
        .index .footer ul.nav li a:hover {
          color: #239f32; }
      .index .footer ul.nav li:active {
        color: #f44336; }

.nav > li > a {
  padding: 0; }

.nav > li > a:hover,
.nav > li > a:focus {
  background-color: transparent; }

/*# sourceMappingURL=grace.css.map */
