.container {
  padding-left: 50%;
  margin-left: -200px;
}

.kibodo {
  width: 400px;
  padding-left: 116px;
}

.key {
  background-image: url('../img/keys.png');
  background-size: 120px;
  background-repeat: no-repeat;
  display: inline-block;
  width: 24px;
  height: 24px;
  padding: 0;
  margin: 0;
  float: left;
}

.key-row {
  height: 24px;
  display: block;
}

#kr1 {

}

#kr1 .key {
  background-position: -48px 0;
}

#kr2 {
  margin-left: 12px;
}

#kr2 .key {
  background-position: -72px 0;

}

#kr3 {
  height: 48px;
  margin-left: 24px;
}

#kr3 .key {
  background-position: -24px 0;
  height: 48px;
}

#kr4 {
  margin-left: 12px;
}

#kr4 .key {
  background-position: -96px 0;

}