#svg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0; }

.spin {
  -webkit-animation-name: spin;
  -webkit-animation-duration: 5494ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -webkit-transform-origin: 50% 50%; }

.tile {
  fill: red; }

.streak {
  position: absolute;
  opacity: .7; }
  .streak > rect {
    opacity: 0; }

.snap {
  display: none; }

.streak:nth-child(1) {
  -webkit-animation-name: streak1;
  -webkit-animation-duration: 13s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -webkit-animation-delay: 1436ms; }

@-webkit-keyframes streak1 {
  from {
    -webkit-transform: translate(1002px, 0px) rotate(-78deg); }
  to {
    -webkit-transform: translate(-218px, 816px) rotate(5deg); } }
.streak:nth-child(2) {
  -webkit-animation-name: streak2;
  -webkit-animation-duration: 13s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -webkit-animation-delay: 1247ms; }

@-webkit-keyframes streak2 {
  from {
    -webkit-transform: translate(1195px, 0px) rotate(-110deg); }
  to {
    -webkit-transform: translate(-474px, 841px) rotate(118deg); } }
.streak:nth-child(3) {
  -webkit-animation-name: streak3;
  -webkit-animation-duration: 15s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -webkit-animation-delay: 2843ms; }

@-webkit-keyframes streak3 {
  from {
    -webkit-transform: translate(1251px, -10px) rotate(-72deg); }
  to {
    -webkit-transform: translate(-113px, 841px) rotate(53deg); } }
.streak:nth-child(4) {
  -webkit-animation-name: streak4;
  -webkit-animation-duration: 15s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -webkit-animation-delay: 2006ms; }

@-webkit-keyframes streak4 {
  from {
    -webkit-transform: translate(1235px, -9px) rotate(-59deg); }
  to {
    -webkit-transform: translate(-444px, 808px) rotate(-169deg); } }
.streak:nth-child(5) {
  -webkit-animation-name: streak5;
  -webkit-animation-duration: 14s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -webkit-animation-delay: 2295ms; }

@-webkit-keyframes streak5 {
  from {
    -webkit-transform: translate(1126px, -4px) rotate(-157deg); }
  to {
    -webkit-transform: translate(-414px, 801px) rotate(-50deg); } }
.streak:nth-child(6) {
  -webkit-animation-name: streak6;
  -webkit-animation-duration: 15s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -webkit-animation-delay: 1852ms; }

@-webkit-keyframes streak6 {
  from {
    -webkit-transform: translate(1169px, -10px) rotate(-64deg); }
  to {
    -webkit-transform: translate(-491px, 825px) rotate(52deg); } }
.streak:nth-child(7) {
  -webkit-animation-name: streak7;
  -webkit-animation-duration: 15s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -webkit-animation-delay: 1348ms; }

@-webkit-keyframes streak7 {
  from {
    -webkit-transform: translate(1186px, -9px) rotate(-151deg); }
  to {
    -webkit-transform: translate(-471px, 836px) rotate(-58deg); } }
.streak:nth-child(8) {
  -webkit-animation-name: streak8;
  -webkit-animation-duration: 11s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -webkit-animation-delay: 1308ms; }

@-webkit-keyframes streak8 {
  from {
    -webkit-transform: translate(1273px, -8px) rotate(-118deg); }
  to {
    -webkit-transform: translate(-244px, 850px) rotate(5deg); } }
.streak:nth-child(9) {
  -webkit-animation-name: streak9;
  -webkit-animation-duration: 12s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -webkit-animation-delay: 2612ms; }

@-webkit-keyframes streak9 {
  from {
    -webkit-transform: translate(1204px, -2px) rotate(-81deg); }
  to {
    -webkit-transform: translate(-293px, 860px) rotate(-23deg); } }
.streak:nth-child(10) {
  -webkit-animation-name: streak10;
  -webkit-animation-duration: 11s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -webkit-animation-delay: 1821ms; }

@-webkit-keyframes streak10 {
  from {
    -webkit-transform: translate(1374px, -5px) rotate(-42deg); }
  to {
    -webkit-transform: translate(-472px, 818px) rotate(16deg); } }
.streak:nth-child(11) {
  -webkit-animation-name: streak11;
  -webkit-animation-duration: 13s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -webkit-animation-delay: 2658ms; }

@-webkit-keyframes streak11 {
  from {
    -webkit-transform: translate(1298px, -4px) rotate(-139deg); }
  to {
    -webkit-transform: translate(-417px, 861px) rotate(110deg); } }
.streak:nth-child(12) {
  -webkit-animation-name: streak12;
  -webkit-animation-duration: 15s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -webkit-animation-delay: 3102ms; }

@-webkit-keyframes streak12 {
  from {
    -webkit-transform: translate(1193px, -11px) rotate(-123deg); }
  to {
    -webkit-transform: translate(-252px, 803px) rotate(86deg); } }
.streak:nth-child(13) {
  -webkit-animation-name: streak13;
  -webkit-animation-duration: 13s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -webkit-animation-delay: 3399ms; }

@-webkit-keyframes streak13 {
  from {
    -webkit-transform: translate(1059px, -9px) rotate(-94deg); }
  to {
    -webkit-transform: translate(-112px, 834px) rotate(-42deg); } }
.streak:nth-child(14) {
  -webkit-animation-name: streak14;
  -webkit-animation-duration: 14s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -webkit-animation-delay: 2327ms; }

@-webkit-keyframes streak14 {
  from {
    -webkit-transform: translate(1120px, 0px) rotate(0deg); }
  to {
    -webkit-transform: translate(-178px, 827px) rotate(-67deg); } }
.streak:nth-child(15) {
  -webkit-animation-name: streak15;
  -webkit-animation-duration: 14s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -webkit-animation-delay: 1051ms; }

@-webkit-keyframes streak15 {
  from {
    -webkit-transform: translate(1035px, -2px) rotate(-9deg); }
  to {
    -webkit-transform: translate(-163px, 829px) rotate(101deg); } }
.streak:nth-child(16) {
  -webkit-animation-name: streak16;
  -webkit-animation-duration: 11s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -webkit-animation-delay: 3960ms; }

@-webkit-keyframes streak16 {
  from {
    -webkit-transform: translate(1254px, -11px) rotate(-61deg); }
  to {
    -webkit-transform: translate(-248px, 846px) rotate(-6deg); } }
.streak:nth-child(17) {
  -webkit-animation-name: streak17;
  -webkit-animation-duration: 11s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -webkit-animation-delay: 1553ms; }

@-webkit-keyframes streak17 {
  from {
    -webkit-transform: translate(1197px, -10px) rotate(-125deg); }
  to {
    -webkit-transform: translate(-367px, 811px) rotate(144deg); } }
.streak:nth-child(18) {
  -webkit-animation-name: streak18;
  -webkit-animation-duration: 13s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -webkit-animation-delay: 3948ms; }

@-webkit-keyframes streak18 {
  from {
    -webkit-transform: translate(1090px, 0px) rotate(-91deg); }
  to {
    -webkit-transform: translate(-306px, 845px) rotate(123deg); } }
.streak:nth-child(19) {
  -webkit-animation-name: streak19;
  -webkit-animation-duration: 14s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -webkit-animation-delay: 3181ms; }

@-webkit-keyframes streak19 {
  from {
    -webkit-transform: translate(1068px, 0px) rotate(-103deg); }
  to {
    -webkit-transform: translate(-445px, 842px) rotate(43deg); } }
.streak:nth-child(20) {
  -webkit-animation-name: streak20;
  -webkit-animation-duration: 11s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -webkit-animation-delay: 3749ms; }

@-webkit-keyframes streak20 {
  from {
    -webkit-transform: translate(1165px, -7px) rotate(-140deg); }
  to {
    -webkit-transform: translate(-449px, 863px) rotate(168deg); } }
.streak:nth-child(21) {
  -webkit-animation-name: streak21;
  -webkit-animation-duration: 12s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -webkit-animation-delay: 2220ms; }

@-webkit-keyframes streak21 {
  from {
    -webkit-transform: translate(1161px, -9px) rotate(-174deg); }
  to {
    -webkit-transform: translate(-223px, 836px) rotate(151deg); } }
.streak:nth-child(22) {
  -webkit-animation-name: streak22;
  -webkit-animation-duration: 12s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -webkit-animation-delay: 2613ms; }

@-webkit-keyframes streak22 {
  from {
    -webkit-transform: translate(1344px, -9px) rotate(-143deg); }
  to {
    -webkit-transform: translate(-150px, 810px) rotate(-22deg); } }
@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg); } }

/*# sourceMappingURL=letters.css.map */
