#svg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0; }

.spin {
  -webkit-animation-name: spin;
  -webkit-animation-duration: 5353ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -webkit-transform-origin: 50% 50%; }

.tile {
  fill: red; }

.streak {
  position: absolute;
  opacity: .7; }
  .streak > rect {
    opacity: 0; }

.snap {
  display: none; }

.streak:nth-child(1) {
  -webkit-animation-name: streak1;
  -webkit-animation-duration: 11s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -webkit-animation-delay: 3181ms;
  -moz-animation-name: streak1;
  -moz-animation-duration: 13s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -moz-animation-delay: 2238ms;
  animation-name: streak1;
  animation-duration: 12s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-delay: 2853ms; }

@-webkit-keyframes streak1 {
  from {
    -webkit-transform: translate(1056px, -9px) rotate(-107deg); }
  to {
    -webkit-transform: translate(-344px, 813px) rotate(-27deg); } }
@-moz-keyframes streak1 {
  from {
    -moz-transform: translate(1222px, -2px) rotate(-104deg); }
  to {
    -moz-transform: translate(-374px, 833px) rotate(31deg); } }
@keyframes streak1 {
  from {
    transform: translate(1225px, -3px) rotate(-15deg); }
  to {
    transform: translate(-483px, 846px) rotate(-55deg); } }
.streak:nth-child(2) {
  -webkit-animation-name: streak2;
  -webkit-animation-duration: 14s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -webkit-animation-delay: 3586ms;
  -moz-animation-name: streak2;
  -moz-animation-duration: 15s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -moz-animation-delay: 3389ms;
  animation-name: streak2;
  animation-duration: 13s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-delay: 3538ms; }

@-webkit-keyframes streak2 {
  from {
    -webkit-transform: translate(1272px, -11px) rotate(-119deg); }
  to {
    -webkit-transform: translate(-393px, 872px) rotate(94deg); } }
@-moz-keyframes streak2 {
  from {
    -moz-transform: translate(1183px, 0px) rotate(-31deg); }
  to {
    -moz-transform: translate(-478px, 822px) rotate(-81deg); } }
@keyframes streak2 {
  from {
    transform: translate(1295px, -4px) rotate(-155deg); }
  to {
    transform: translate(-227px, 821px) rotate(-14deg); } }
.streak:nth-child(3) {
  -webkit-animation-name: streak3;
  -webkit-animation-duration: 15s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -webkit-animation-delay: 2046ms;
  -moz-animation-name: streak3;
  -moz-animation-duration: 13s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -moz-animation-delay: 1424ms;
  animation-name: streak3;
  animation-duration: 12s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-delay: 3544ms; }

@-webkit-keyframes streak3 {
  from {
    -webkit-transform: translate(1005px, -5px) rotate(-12deg); }
  to {
    -webkit-transform: translate(-459px, 828px) rotate(42deg); } }
@-moz-keyframes streak3 {
  from {
    -moz-transform: translate(1287px, -9px) rotate(-122deg); }
  to {
    -moz-transform: translate(-264px, 821px) rotate(-104deg); } }
@keyframes streak3 {
  from {
    transform: translate(1331px, -10px) rotate(-77deg); }
  to {
    transform: translate(-492px, 845px) rotate(175deg); } }
.streak:nth-child(4) {
  -webkit-animation-name: streak4;
  -webkit-animation-duration: 12s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -webkit-animation-delay: 1809ms;
  -moz-animation-name: streak4;
  -moz-animation-duration: 11s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -moz-animation-delay: 1356ms;
  animation-name: streak4;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-delay: 2108ms; }

@-webkit-keyframes streak4 {
  from {
    -webkit-transform: translate(1292px, -5px) rotate(-123deg); }
  to {
    -webkit-transform: translate(-434px, 850px) rotate(-82deg); } }
@-moz-keyframes streak4 {
  from {
    -moz-transform: translate(1388px, -2px) rotate(-134deg); }
  to {
    -moz-transform: translate(-364px, 813px) rotate(-165deg); } }
@keyframes streak4 {
  from {
    transform: translate(1191px, -1px) rotate(-103deg); }
  to {
    transform: translate(-456px, 857px) rotate(-40deg); } }
.streak:nth-child(5) {
  -webkit-animation-name: streak5;
  -webkit-animation-duration: 14s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -webkit-animation-delay: 3553ms;
  -moz-animation-name: streak5;
  -moz-animation-duration: 13s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -moz-animation-delay: 1265ms;
  animation-name: streak5;
  animation-duration: 14s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-delay: 1826ms; }

@-webkit-keyframes streak5 {
  from {
    -webkit-transform: translate(1276px, -9px) rotate(-49deg); }
  to {
    -webkit-transform: translate(-267px, 809px) rotate(-110deg); } }
@-moz-keyframes streak5 {
  from {
    -moz-transform: translate(1374px, -7px) rotate(-29deg); }
  to {
    -moz-transform: translate(-236px, 835px) rotate(150deg); } }
@keyframes streak5 {
  from {
    transform: translate(1381px, -8px) rotate(-33deg); }
  to {
    transform: translate(-133px, 849px) rotate(-89deg); } }
.streak:nth-child(6) {
  -webkit-animation-name: streak6;
  -webkit-animation-duration: 11s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -webkit-animation-delay: 2012ms;
  -moz-animation-name: streak6;
  -moz-animation-duration: 15s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -moz-animation-delay: 2168ms;
  animation-name: streak6;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-delay: 1802ms; }

@-webkit-keyframes streak6 {
  from {
    -webkit-transform: translate(1341px, -6px) rotate(-30deg); }
  to {
    -webkit-transform: translate(-391px, 858px) rotate(147deg); } }
@-moz-keyframes streak6 {
  from {
    -moz-transform: translate(1216px, -10px) rotate(-121deg); }
  to {
    -moz-transform: translate(-317px, 855px) rotate(31deg); } }
@keyframes streak6 {
  from {
    transform: translate(1252px, -8px) rotate(-164deg); }
  to {
    transform: translate(-363px, 841px) rotate(-5deg); } }
.streak:nth-child(7) {
  -webkit-animation-name: streak7;
  -webkit-animation-duration: 11s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -webkit-animation-delay: 3057ms;
  -moz-animation-name: streak7;
  -moz-animation-duration: 15s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -moz-animation-delay: 1583ms;
  animation-name: streak7;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-delay: 2816ms; }

@-webkit-keyframes streak7 {
  from {
    -webkit-transform: translate(1042px, -2px) rotate(-65deg); }
  to {
    -webkit-transform: translate(-219px, 807px) rotate(147deg); } }
@-moz-keyframes streak7 {
  from {
    -moz-transform: translate(1012px, -9px) rotate(-63deg); }
  to {
    -moz-transform: translate(-479px, 829px) rotate(84deg); } }
@keyframes streak7 {
  from {
    transform: translate(1242px, -5px) rotate(-8deg); }
  to {
    transform: translate(-437px, 868px) rotate(4deg); } }
.streak:nth-child(8) {
  -webkit-animation-name: streak8;
  -webkit-animation-duration: 11s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -webkit-animation-delay: 2778ms;
  -moz-animation-name: streak8;
  -moz-animation-duration: 11s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -moz-animation-delay: 3243ms;
  animation-name: streak8;
  animation-duration: 12s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-delay: 3161ms; }

@-webkit-keyframes streak8 {
  from {
    -webkit-transform: translate(1323px, -7px) rotate(-96deg); }
  to {
    -webkit-transform: translate(-230px, 833px) rotate(41deg); } }
@-moz-keyframes streak8 {
  from {
    -moz-transform: translate(1345px, -1px) rotate(-163deg); }
  to {
    -moz-transform: translate(-318px, 846px) rotate(104deg); } }
@keyframes streak8 {
  from {
    transform: translate(1222px, -1px) rotate(-126deg); }
  to {
    transform: translate(-312px, 855px) rotate(173deg); } }
.streak:nth-child(9) {
  -webkit-animation-name: streak9;
  -webkit-animation-duration: 11s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -webkit-animation-delay: 2525ms;
  -moz-animation-name: streak9;
  -moz-animation-duration: 13s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -moz-animation-delay: 1475ms;
  animation-name: streak9;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-delay: 3167ms; }

@-webkit-keyframes streak9 {
  from {
    -webkit-transform: translate(1057px, -9px) rotate(-43deg); }
  to {
    -webkit-transform: translate(-367px, 834px) rotate(-150deg); } }
@-moz-keyframes streak9 {
  from {
    -moz-transform: translate(1349px, -9px) rotate(-153deg); }
  to {
    -moz-transform: translate(-243px, 857px) rotate(15deg); } }
@keyframes streak9 {
  from {
    transform: translate(1398px, -9px) rotate(-7deg); }
  to {
    transform: translate(-368px, 857px) rotate(-27deg); } }
.streak:nth-child(10) {
  -webkit-animation-name: streak10;
  -webkit-animation-duration: 12s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -webkit-animation-delay: 3988ms;
  -moz-animation-name: streak10;
  -moz-animation-duration: 15s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -moz-animation-delay: 1595ms;
  animation-name: streak10;
  animation-duration: 11s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-delay: 2766ms; }

@-webkit-keyframes streak10 {
  from {
    -webkit-transform: translate(1315px, -5px) rotate(-37deg); }
  to {
    -webkit-transform: translate(-312px, 846px) rotate(-59deg); } }
@-moz-keyframes streak10 {
  from {
    -moz-transform: translate(1182px, 0px) rotate(-32deg); }
  to {
    -moz-transform: translate(-382px, 825px) rotate(107deg); } }
@keyframes streak10 {
  from {
    transform: translate(1193px, -4px) rotate(-35deg); }
  to {
    transform: translate(-450px, 859px) rotate(137deg); } }
.streak:nth-child(11) {
  -webkit-animation-name: streak11;
  -webkit-animation-duration: 12s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -webkit-animation-delay: 3312ms;
  -moz-animation-name: streak11;
  -moz-animation-duration: 14s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -moz-animation-delay: 1362ms;
  animation-name: streak11;
  animation-duration: 11s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-delay: 3643ms; }

@-webkit-keyframes streak11 {
  from {
    -webkit-transform: translate(1251px, -6px) rotate(-126deg); }
  to {
    -webkit-transform: translate(-433px, 838px) rotate(-7deg); } }
@-moz-keyframes streak11 {
  from {
    -moz-transform: translate(1114px, -10px) rotate(-5deg); }
  to {
    -moz-transform: translate(-413px, 873px) rotate(174deg); } }
@keyframes streak11 {
  from {
    transform: translate(1180px, -2px) rotate(-126deg); }
  to {
    transform: translate(-100px, 875px) rotate(47deg); } }
.streak:nth-child(12) {
  -webkit-animation-name: streak12;
  -webkit-animation-duration: 15s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -webkit-animation-delay: 2048ms;
  -moz-animation-name: streak12;
  -moz-animation-duration: 12s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -moz-animation-delay: 1655ms;
  animation-name: streak12;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-delay: 2594ms; }

@-webkit-keyframes streak12 {
  from {
    -webkit-transform: translate(1198px, -2px) rotate(-130deg); }
  to {
    -webkit-transform: translate(-231px, 828px) rotate(-165deg); } }
@-moz-keyframes streak12 {
  from {
    -moz-transform: translate(1243px, -10px) rotate(-91deg); }
  to {
    -moz-transform: translate(-369px, 806px) rotate(-116deg); } }
@keyframes streak12 {
  from {
    transform: translate(1170px, -1px) rotate(-3deg); }
  to {
    transform: translate(-212px, 852px) rotate(-73deg); } }
.streak:nth-child(13) {
  -webkit-animation-name: streak13;
  -webkit-animation-duration: 15s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -webkit-animation-delay: 2563ms;
  -moz-animation-name: streak13;
  -moz-animation-duration: 12s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -moz-animation-delay: 2629ms;
  animation-name: streak13;
  animation-duration: 12s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-delay: 1202ms; }

@-webkit-keyframes streak13 {
  from {
    -webkit-transform: translate(1060px, -9px) rotate(-39deg); }
  to {
    -webkit-transform: translate(-214px, 835px) rotate(146deg); } }
@-moz-keyframes streak13 {
  from {
    -moz-transform: translate(1168px, -9px) rotate(-138deg); }
  to {
    -moz-transform: translate(-282px, 825px) rotate(-112deg); } }
@keyframes streak13 {
  from {
    transform: translate(1346px, -5px) rotate(-101deg); }
  to {
    transform: translate(-144px, 811px) rotate(-165deg); } }
.streak:nth-child(14) {
  -webkit-animation-name: streak14;
  -webkit-animation-duration: 11s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -webkit-animation-delay: 2690ms;
  -moz-animation-name: streak14;
  -moz-animation-duration: 12s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -moz-animation-delay: 3745ms;
  animation-name: streak14;
  animation-duration: 14s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-delay: 1334ms; }

@-webkit-keyframes streak14 {
  from {
    -webkit-transform: translate(1354px, -10px) rotate(-105deg); }
  to {
    -webkit-transform: translate(-314px, 875px) rotate(99deg); } }
@-moz-keyframes streak14 {
  from {
    -moz-transform: translate(1378px, -10px) rotate(-65deg); }
  to {
    -moz-transform: translate(-423px, 823px) rotate(-20deg); } }
@keyframes streak14 {
  from {
    transform: translate(1258px, -1px) rotate(-74deg); }
  to {
    transform: translate(-300px, 862px) rotate(124deg); } }
.streak:nth-child(15) {
  -webkit-animation-name: streak15;
  -webkit-animation-duration: 13s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -webkit-animation-delay: 2434ms;
  -moz-animation-name: streak15;
  -moz-animation-duration: 13s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -moz-animation-delay: 3314ms;
  animation-name: streak15;
  animation-duration: 14s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-delay: 1680ms; }

@-webkit-keyframes streak15 {
  from {
    -webkit-transform: translate(1264px, -5px) rotate(-57deg); }
  to {
    -webkit-transform: translate(-412px, 808px) rotate(10deg); } }
@-moz-keyframes streak15 {
  from {
    -moz-transform: translate(1043px, -2px) rotate(-59deg); }
  to {
    -moz-transform: translate(-324px, 854px) rotate(-44deg); } }
@keyframes streak15 {
  from {
    transform: translate(1356px, -7px) rotate(-148deg); }
  to {
    transform: translate(-366px, 828px) rotate(90deg); } }
.streak:nth-child(16) {
  -webkit-animation-name: streak16;
  -webkit-animation-duration: 14s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -webkit-animation-delay: 2297ms;
  -moz-animation-name: streak16;
  -moz-animation-duration: 15s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -moz-animation-delay: 3160ms;
  animation-name: streak16;
  animation-duration: 11s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-delay: 2877ms; }

@-webkit-keyframes streak16 {
  from {
    -webkit-transform: translate(1351px, -7px) rotate(-44deg); }
  to {
    -webkit-transform: translate(-367px, 829px) rotate(175deg); } }
@-moz-keyframes streak16 {
  from {
    -moz-transform: translate(1045px, -9px) rotate(-112deg); }
  to {
    -moz-transform: translate(-446px, 811px) rotate(98deg); } }
@keyframes streak16 {
  from {
    transform: translate(1083px, -7px) rotate(-171deg); }
  to {
    transform: translate(-176px, 817px) rotate(27deg); } }
.streak:nth-child(17) {
  -webkit-animation-name: streak17;
  -webkit-animation-duration: 11s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -webkit-animation-delay: 2877ms;
  -moz-animation-name: streak17;
  -moz-animation-duration: 11s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -moz-animation-delay: 3027ms;
  animation-name: streak17;
  animation-duration: 11s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-delay: 1720ms; }

@-webkit-keyframes streak17 {
  from {
    -webkit-transform: translate(1334px, -8px) rotate(-28deg); }
  to {
    -webkit-transform: translate(-457px, 830px) rotate(-173deg); } }
@-moz-keyframes streak17 {
  from {
    -moz-transform: translate(1232px, -1px) rotate(-157deg); }
  to {
    -moz-transform: translate(-181px, 873px) rotate(148deg); } }
@keyframes streak17 {
  from {
    transform: translate(1315px, -7px) rotate(-128deg); }
  to {
    transform: translate(-374px, 808px) rotate(-130deg); } }
.streak:nth-child(18) {
  -webkit-animation-name: streak18;
  -webkit-animation-duration: 15s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -webkit-animation-delay: 3180ms;
  -moz-animation-name: streak18;
  -moz-animation-duration: 11s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -moz-animation-delay: 2503ms;
  animation-name: streak18;
  animation-duration: 14s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-delay: 2685ms; }

@-webkit-keyframes streak18 {
  from {
    -webkit-transform: translate(1034px, -1px) rotate(-138deg); }
  to {
    -webkit-transform: translate(-305px, 830px) rotate(102deg); } }
@-moz-keyframes streak18 {
  from {
    -moz-transform: translate(1316px, -5px) rotate(-2deg); }
  to {
    -moz-transform: translate(-312px, 832px) rotate(85deg); } }
@keyframes streak18 {
  from {
    transform: translate(1382px, -7px) rotate(-107deg); }
  to {
    transform: translate(-414px, 858px) rotate(-41deg); } }
.streak:nth-child(19) {
  -webkit-animation-name: streak19;
  -webkit-animation-duration: 12s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -webkit-animation-delay: 3391ms;
  -moz-animation-name: streak19;
  -moz-animation-duration: 11s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -moz-animation-delay: 3795ms;
  animation-name: streak19;
  animation-duration: 11s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-delay: 2895ms; }

@-webkit-keyframes streak19 {
  from {
    -webkit-transform: translate(1092px, -7px) rotate(-63deg); }
  to {
    -webkit-transform: translate(-354px, 804px) rotate(136deg); } }
@-moz-keyframes streak19 {
  from {
    -moz-transform: translate(1258px, -1px) rotate(-63deg); }
  to {
    -moz-transform: translate(-221px, 807px) rotate(83deg); } }
@keyframes streak19 {
  from {
    transform: translate(1173px, -10px) rotate(-112deg); }
  to {
    transform: translate(-358px, 802px) rotate(-59deg); } }
.streak:nth-child(20) {
  -webkit-animation-name: streak20;
  -webkit-animation-duration: 12s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -webkit-animation-delay: 1641ms;
  -moz-animation-name: streak20;
  -moz-animation-duration: 14s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -moz-animation-delay: 2321ms;
  animation-name: streak20;
  animation-duration: 12s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-delay: 2403ms; }

@-webkit-keyframes streak20 {
  from {
    -webkit-transform: translate(1089px, -5px) rotate(-25deg); }
  to {
    -webkit-transform: translate(-249px, 818px) rotate(38deg); } }
@-moz-keyframes streak20 {
  from {
    -moz-transform: translate(1166px, -1px) rotate(-46deg); }
  to {
    -moz-transform: translate(-278px, 827px) rotate(157deg); } }
@keyframes streak20 {
  from {
    transform: translate(1116px, -9px) rotate(-87deg); }
  to {
    transform: translate(-470px, 815px) rotate(-70deg); } }
.streak:nth-child(21) {
  -webkit-animation-name: streak21;
  -webkit-animation-duration: 11s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -webkit-animation-delay: 2803ms;
  -moz-animation-name: streak21;
  -moz-animation-duration: 13s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -moz-animation-delay: 3172ms;
  animation-name: streak21;
  animation-duration: 11s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-delay: 1738ms; }

@-webkit-keyframes streak21 {
  from {
    -webkit-transform: translate(1083px, -6px) rotate(-44deg); }
  to {
    -webkit-transform: translate(-434px, 804px) rotate(-77deg); } }
@-moz-keyframes streak21 {
  from {
    -moz-transform: translate(1288px, -4px) rotate(-2deg); }
  to {
    -moz-transform: translate(-285px, 870px) rotate(151deg); } }
@keyframes streak21 {
  from {
    transform: translate(1279px, 0px) rotate(-64deg); }
  to {
    transform: translate(-260px, 851px) rotate(129deg); } }
.streak:nth-child(22) {
  -webkit-animation-name: streak22;
  -webkit-animation-duration: 11s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -webkit-animation-delay: 2316ms;
  -moz-animation-name: streak22;
  -moz-animation-duration: 12s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -moz-animation-delay: 1610ms;
  animation-name: streak22;
  animation-duration: 12s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-delay: 2882ms; }

@-webkit-keyframes streak22 {
  from {
    -webkit-transform: translate(1270px, -10px) rotate(-149deg); }
  to {
    -webkit-transform: translate(-326px, 845px) rotate(-8deg); } }
@-moz-keyframes streak22 {
  from {
    -moz-transform: translate(1259px, -11px) rotate(-94deg); }
  to {
    -moz-transform: translate(-319px, 852px) rotate(155deg); } }
@keyframes streak22 {
  from {
    transform: translate(1053px, -9px) rotate(-19deg); }
  to {
    transform: translate(-202px, 851px) rotate(-170deg); } }
@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg); } }
@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg); }
  to {
    -moz-transform: rotate(360deg); } }
@keyframes spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

/*# sourceMappingURL=letters.css.map */
