* {
	margin:0; padding:0;
} /* to remove the top and left whitespace */

html, body {
	width:100%;
	height:100%;
} /* just to be sure these are full screen*/

#can {
	display: block; 
} /* To remove the scrollbars */

.textBox {
	background: #FFF;
    border: 2px solid #424242;
    padding: 3px 20px 20px 20px;
    width: 268px;
    z-index: 2;
    position: absolute;
    top: 245px;
    left: 50%;
    visibility: visible;
    margin-left: -134px;
}

.inputBoxButt {
	display: inline;
}

#boxImage {
	margin: auto;
	display: inline;
	padding-bottom: 10px;
}

#boxInput {
	width: 180px;
	padding-right: 15px;
	display: inline;
}

#thumbs {
	width: 14px;
	height: 100%;
}

#thumbButt {
	background: #FFF;
	display: inline;
}

#plusButt { 
	display: none;
	color: #318B31;
	padding-top: 8px;
	padding-bottom: 4px;
	font-weight: bold;
}

#signInError {
	display: none;
	color: #F00;
	margin: auto;
	text-align: center;
	font-weight: bold;
}

#newChar {
	display: block;
	padding-left: 95.5px;
	margin: auto;
}