#svg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: -1;
}

.spin {
  -webkit-animation-name: spin;
  -webkit-animation-duration: random(4000) + 2000 + ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -webkit-transform-origin: 50% 50%;
}

.tile {
  fill: red;
}

.streak {
  position: absolute;
  opacity: .7;

  > rect {
    opacity: 0;

  }
}

.snap {
  display: none;
}



@for $i from 1 through 22 {
  .streak:nth-child(#{$i}) {
    -webkit-animation-name: streak#{$i};
    -webkit-animation-duration: random(5) + 10 + s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: random(3000) + 1000 + ms;
    -moz-animation-name: streak#{$i};
    -moz-animation-duration: random(5) + 10 + s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -moz-animation-delay: random(3000) + 1000 + ms;
    animation-name: streak#{$i};
    animation-duration: random(5) + 10 + s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-delay: random(3000) + 1000 + ms;
  }


  @-webkit-keyframes streak#{$i} {
    from {
      -webkit-transform: translate(random(400) + 1000 + px, random(12) - 12 + px) rotate(random(180) - 180 + deg);
    }
    to {
      -webkit-transform: translate(random(400) - 500 + px, random(75) + 800 + px) rotate( random(360) - 180 + deg);
    }
  }
  @-moz-keyframes streak#{$i} {
    from {
      -moz-transform: translate(random(400) + 1000 + px, random(12) - 12 + px) rotate(random(180) - 180 + deg);
    }
    to {
      -moz-transform: translate(random(400) - 500 + px, random(75) + 800 + px) rotate( random(360) - 180 + deg);
    }
  }
  @keyframes streak#{$i} {
    from {
      transform: translate(random(400) + 1000 + px, random(12) - 12 + px) rotate(random(180) - 180 + deg);
    }
    to {
      transform: translate(random(400) - 500 + px, random(75) + 800 + px) rotate( random(360) - 180 + deg);
    }
  }
}

@-webkit-keyframes spin {
  from {
   -webkit-transform: rotate(0deg);
  }
  to {
   -webkit-transform: rotate(360deg);
  }
}
@-moz-keyframes spin {
  from {
   -moz-transform: rotate(0deg);
  }
  to {
   -moz-transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
   transform: rotate(0deg);
  }
  to {
   transform: rotate(360deg);
  }
}
