.spin {
  -webkit-animation-name: spin;
  -webkit-animation-duration: random(4000) + 2000 + ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -webkit-transform-origin: 50% 50%;
}


.streak {
  position: absolute;
  opacity: .7;
}

.snap {
  display: none;
}



@for $i from 1 through 22 {
  .streak:nth-child(#{$i}) {
    -webkit-animation-name: streak#{$i};
    -webkit-animation-duration: random(5) + 6 + s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: random(3000) + 1000 + ms;
  }


  @-webkit-keyframes streak#{$i} {
    from {
      -webkit-transform: translate(random(400) + 1000 + px, random(12) - 12 + px) rotate(random(180) - 180 + deg);
    }
    to {
      -webkit-transform: translate(random(400) - 500 + px, random(75) + 800 + px) rotate( random(360) - 180 + deg);
    }
  }
}

@-webkit-keyframes spin {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); }
}
