.extra {
  display: none;
}

.playlist-wrapper {
  overflow: scroll;
  height: 200px;
  border: 1px solid #ddd;
  padding: 0;
  margin-top: 20px;
}

.playlist {
  margin: 0;
}

.playlist tr.active {
  background: #ccc;
}
