.navbar-default {
  background-color: #fff;
  border: none;
  margin-bottom: 0;
  font-size: 16px;
}

.navbar-brand img {
  width: 247px;
  margin-top: -15px;
}

.logo-section img{
  height: 162px;
  margin-top: 20px;
  padding-left: 50%;
  margin-left: -218px;
}

/*.that-bod {
  position: relative;
}
.that-bod:after {
  position: absolute;
  content: "";
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: .2;
  z-index: -1;
  background-color: #ffffff;
  background-image: url('img/seamlesstexture19_1200.jpg');
  background-repeat: repeat;
  background-position: top left;
  background-attachment: scroll;
}*/

.carousel {
  height: 500px;
}

.carousel .item {
  height: 500px;
}

.navbar-nav {
  float:none;
  margin: 0 auto;
  display: table;
  table-layout: fixed;
}

.section {
  padding: 60px;
}

.colorme {
  background: #efefef;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Source Sans Pro', sans-serif;
  margin-top: 0;
  color: #424242;
}

ul.bare-list {
  list-style: none;
}

.btn-default {
  color: #fff;
  background-color: #004B97;
  border-color: #023262;
}

.pictureless-page {
  border-top: 1px solid #ddd;
  padding-top: 60px;
}